<div class="col-md-4 col-sm-6">
    <div class="panel panel-default mb20 card">
        <div class="panel-body">
            <div class="clearfix">
                <div class="info pull-left">
                    <h4 class="mt0 text-primary text-bold">{{value}}</h4>
                    <h5 class="text-light mb0">{{text}}</h5>
                </div>
                <i class="pull-right fa fa-lightbulb-o"></i>
            </div>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
</div>

