<!doctype html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Hand@ssa - progiciel de gestion</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles/dependencies/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/dependencies/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<%-body%>


		<script src="/js/dependencies/jquery.js"></script>
		<script src="/js/dependencies/bootstrap.min.js"></script>

</body>

</html>