<tabset>
    <tab>
        <tab-heading> <i class="fa fa-sliders"></i> Général</tab-heading>
        <div ng-include src="'app/partials/adminTabs/settingsTab.html'"></div>
    </tab>
    <tab>
        <tab-heading> <i class="fa fa-users"></i> Collaborateurs</tab-heading>
        <div ng-include src="'app/partials/adminTabs/usersTab.html'"></div>
    </tab>
    <tab>
        <tab-heading>
            <i class="fa fa-briefcase"></i> Intervenants
        </tab-heading>
        <div ng-include src="'app/partials/adminTabs/intervenantsTab.html'"></div>
    </tab>
    <tab>
        <tab-heading> <i class="fa fa-suitcase"></i> Clients</tab-heading>
        <div ng-include src="'app/partials/adminTabs/clientsTab.html'"></div>
    </tab>
    <tab>
        <tab-heading> <i class="fa fa-chain"></i> Types</tab-heading>
        <div ng-include src="'app/partials/adminTabs/typesTab.html'"></div>
    </tab>
    <tab>
        <tab-heading> <i class="fa fa-check-square-o"></i> Rôles et permissions</tab-heading>
        <div ng-include src="'app/partials/adminTabs/rolesTab.html'"></div>
    </tab>
</tabset>