<div class="profil-container flexible">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">

		</div>
		<div class="col-md-8  col-xs-12">
		   <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
		   <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
		   <div class="header">
				<h1>{{loggedUser.name}}</h1>
				<h4>{{loggedUser.email}}</h4>
				<blockquote>
				  <div class="row">
					<div class="col-sm-12">
					  <p>{{loggedUser.bio}}</p>
					</div>
				  </div>
				</blockquote>
		   </div>
		</div>
	</div>   

	<div class="row nav">    
		<div class="col-md-4"></div>
		<div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
			<div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 0</div>
			<div class="col-md-4 col-xs-4 well"><i class="fa fa-users fa-lg"></i> 0</div>
			<div class="col-md-4 col-xs-4 well"><i class="fa fa-tasks fa-lg"></i> 0</div>
		</div>
	</div>
</div>