<div class="box border no-top col-md-12">
    <div class="box-body col-md-12">
        <h1>Détails des missions:</h1>
        <div class="actions-btn">
            <a href="#/project/{{subProject.project.id}}/missions" class="btn btn btn-default">
                <i class="fa fa-reply"></i> Retour
            </a>
            <button class="show-btn btn btn-default" ng-click="generateContract(subProject, 0)" ng-disabled="isGenerating" ng-hide="subProject.contract">
                <i class="fa" ng-class="{'fa-file-pdf-o': !$parent.isGenerating, 'fa-circle-o-notch fa-spin': $parent.isGenerating}"></i> Générer le contrat
            </button>
        </div>
        <form>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="pre-label">Nom du projet :</label>
                    <label>{{subProject.project.name}}</label>
                </div>
                <div class="form-group">
                    <label class="pre-label">Budget :</label>
                    <label>{{subProject.budget | currency:''}} DH</label>
                </div>
                <div class="form-group">
                    <label class="pre-label">Modalités de paiement :</label>
                    <ul>
                        <li ng-repeat="pMethod in subProject.paymentMethods">{{pMethod.percentage}}% {{pMethod.label}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="pre-label">Missions à effectuer :</label>
                    <ul>
                        <li ng-repeat="mission in subProject.missions">{{mission.name}}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="pre-label">Contrat :</label>
                    <a ng-show="subProject.contract" href="{{subProject.contract.webPath}}" target="_blank">{{subProject.contract.name}}.{{subProject.contract.ext}}</a>
                    <label ng-show="!subProject.contract">Non généré</label>
                </div>
            </div>
        </form>
    </div>
</div>